<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.cooler.mapper.CoolerMapper">  

<select id="getdeskTopEstimateCoolerFilterList">
SELECT  *  

FROM
    COOLER_MANUFACTURER  CM
JOIN
    COOLER_COOLING_METHOD  CCM
ON
    CM.COMPUTER_PART_FILTER_IDX = CCM.COMPUTER_PART_FILTER_IDX
JOIN
    COOLER_INTEL_SOCKET  CIS
ON
    CCM.COMPUTER_PART_FILTER_IDX = CIS.COMPUTER_PART_FILTER_IDX
JOIN
    COOLER_AMD_SOCKET  CAS
ON
    CIS.COMPUTER_PART_FILTER_IDX = CAS.COMPUTER_PART_FILTER_IDX
JOIN
    COOLER_HEIGHT  CH
ON
    CAS.COMPUTER_PART_FILTER_IDX = CH.COMPUTER_PART_FILTER_IDX
    


</select>


<select id="getCoolerResultList">
SELECT
    C.COOLER_IDX,
    (SELECT COOLER_MANUFACTURER_NAME FROM COOLER_MANUFACTURER WHERE COOLER_MANUFACTURER_IDX = C.COOLER_MANUFACTURER_IDX) AS COOLER_MANUFACTURER_NAME,
    C.COOLER_NAME,
    (SELECT COOLER_CAPACITY FROM COOLER_CAPACITY WHERE COOLER_CAPACITY_IDX = C.COOLER_CAPACITY_IDX) AS COOLER_CAPACITY_NAME,
    (SELECT COOLER_TYPE FROM COOLER_TYPE WHERE COOLER_TYPE_IDX = C.COOLER_TYPE_IDX) AS COOLER_TYPE_NAME,
    (SELECT COOLER_COMPATIBILITY FROM COOLER_COMPATIBILITY WHERE COOLER_COMPATIBILITY_IDX = C.COOLER_COMPATIBILITY_IDX) AS COOLER_COMPATIBILITY_NAME,
    (SELECT COOLER_COOLING_METHOD FROM COOLER_COOLING_METHOD WHERE COOLER_COOLING_METHOD_IDX = C.COOLER_COOLING_METHOD_IDX) AS COOLER_COOLING_METHOD_NAME,
    (SELECT COOLER_AIR_COOLING_TYPE FROM COOLER_AIR_COOLING_TYPE WHERE COOLER_AIR_COOLING_TYPE_IDX = C.COOLER_AIR_COOLING_TYPE_IDX) AS COOLER_AIR_COOLING_TYPE_NAME,
    (SELECT COOLER_WEIGHT FROM COOLER_WEIGHT WHERE COOLER_WEIGHT_IDX = C.COOLER_WEIGHT_IDX) AS COOLER_WEIGHT_NAME,
    (SELECT COOLER_WIDTH FROM COOLER_WIDTH WHERE COOLER_WIDTH_IDX = C.COOLER_WIDTH_IDX) AS COOLER_WIDTH_NAME,
    (SELECT COOLER_LENGTH FROM COOLER_LENGTH WHERE COOLER_LENGTH_IDX = C.COOLER_LENGTH_IDX) AS COOLER_LENGTH_NAME,
    (SELECT COOLER_HEIGHT FROM COOLER_HEIGHT WHERE COOLER_HEIGHT_IDX = C.COOLER_HEIGHT_IDX) AS COOLER_HEIGHT_NAME,
    (SELECT COOLER_FAN_SIZE FROM COOLER_FAN_SIZE WHERE COOLER_FAN_SIZE_IDX = C.COOLER_FAN_SIZE_IDX) AS COOLER_FAN_SIZE_NAME,
    C.COOLER_RELEASE_DATE,
    (SELECT COOLER_FAN_CONNECTOR_NAME FROM COOLER_FAN_CONNECTOR WHERE COOLER_FAN_CONNECTOR_IDX = C.COOLER_FAN_CONNECTOR_IDX) AS COOLER_FAN_CONNECTOR_NAME,
    (SELECT COOLER_EXTRA_FEATURES FROM COOLER_EXTRA_FEATURES WHERE COOLER_EXTRA_FEATURES_IDX = C.COOLER_EXTRA_FEATURES_IDX) AS COOLER_EXTRA_FEATURES_NAME,
    (SELECT COOLER_MAX_NOISE_LEVEL FROM COOLER_MAX_NOISE_LEVEL WHERE COOLER_MAX_NOISE_LEVEL_IDX = C.COOLER_MAX_NOISE_LEVEL_IDX) AS COOLER_MAX_NOISE_LEVEL_NAME,
    (SELECT COOLER_RPM FROM COOLER_RPM WHERE COOLER_RPM_IDX = C.COOLER_RPM_IDX) AS COOLER_RPM_NAME,
    C.COOLER_WARRANTY_PERIOD,
    C.COOLER_ORIGIN_PRICE,
    C.COOLER_NOW_PRICE,
    (SELECT COOLER_INTEL_SOCKET FROM COOLER_INTEL_SOCKET WHERE COOLER_INTEL_SOCKET_IDX = C.COOLER_INTEL_SOCKET_IDX) AS COOLER_INTEL_SOCKET_NAME,
    (SELECT COOLER_AMD_SOCKET FROM COOLER_AMD_SOCKET WHERE COOLER_AMD_SOCKET_IDX = C.COOLER_AMD_SOCKET_IDX) AS COOLER_AMD_SOCKET_NAME,
    C.COMPUTER_PART_FILTER_IDX,
    (SELECT  COOLER_SFILE_NAME FROM COOLER_IMAGE  WHERE COOLER_IDX = C.COOLER_IDX)
FROM
    COOLER AS C


</select>


</mapper>