<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.cpu.mapper.CpuMapper">  

<select id="getdeskTopEstimateCpuFilterList">
SELECT
    CM.CPU_MANUFACTURER_IDX,
    CM.CPU_MANUFACTURER_NAME,
    CCN.CPU_CODE_NAME_IDX,
    CCN.CPU_CODE_NAME_NAME,
    CST.CPU_SOCKET_TYPE_IDX,
    CST.CPU_SOCKET_TYPE,
    CPT.CPU_PROCESS_TECHNOLOGY_IDX,
    CPT.CPU_PROCESS_TECHNOLOGY_NAME,
    CC.CPU_CORE_IDX,
    CC.CPU_CORE_COUNT,
    CT.CPU_THREAD_IDX,
    CT.CPU_THREAD_COUNT

FROM
    CPU_MANUFACTURER  CM
JOIN
    CPU_CODE_NAME CCN
ON
    CM.COMPUTER_PART_FILTER_IDX = CCN.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_SOCKET_TYPE CST
ON
    CCN.COMPUTER_PART_FILTER_IDX = CST.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_PROCESS_TECHNOLOGY  CPT
ON
    CST.COMPUTER_PART_FILTER_IDX = CPT.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_CORE  CC
ON
    CPT.COMPUTER_PART_FILTER_IDX = CC.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_THREAD  CT
ON
    CC.COMPUTER_PART_FILTER_IDX = CT.COMPUTER_PART_FILTER_IDX
    

</select>

<select id="getCpuResultList">
 SELECT
    CPU_IDX,
    CPU_TOTAL_DATA,
    CPU_SOCKET_TYPE,
    CPU_TYPE_NAME,
    CPU_RAM_TYPE,
    CPU_TDP,
    CPU_INTEGRATED_GRAPHICS_IDX,
    COMPUTER_PART_IDX,
    CPU_SFILE_NAME
FROM
    CPU


</select>

</mapper>