<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.cpu.mapper.CpuMapper">  

<select id="getdeskTopEstimateCpuFilterList">
SELECT
    CM.CPU_MANUFACTURER_IDX,
    CM.CPU_MANUFACTURER_NAME,
    CCN.CPU_CODE_NAME_IDX,
    CCN.CPU_CODE_NAME_NAME,
    CST.CPU_SOCKET_TYPE_IDX,
    CST.CPU_SOCKET_TYPE,
    CPT.CPU_PROCESS_TECHNOLOGY_IDX,
    CPT.CPU_PROCESS_TECHNOLOGY_NAME,
    CC.CPU_CORE_IDX,
    CC.CPU_CORE_COUNT,
    CT.CPU_THREAD_IDX,
    CT.CPU_THREAD_COUNT

FROM
    CPU_MANUFACTURER  CM
JOIN
    CPU_CODE_NAME CCN
ON
    CM.COMPUTER_PART_FILTER_IDX = CCN.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_SOCKET_TYPE CST
ON
    CCN.COMPUTER_PART_FILTER_IDX = CST.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_PROCESS_TECHNOLOGY  CPT
ON
    CST.COMPUTER_PART_FILTER_IDX = CPT.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_CORE  CC
ON
    CPT.COMPUTER_PART_FILTER_IDX = CC.COMPUTER_PART_FILTER_IDX
JOIN
    CPU_THREAD  CT
ON
    CC.COMPUTER_PART_FILTER_IDX = CT.COMPUTER_PART_FILTER_IDX
    

</select>

<select id="getCpuResultList">
 SELECT
    CPU_IDX,
    CPU_NAME,
    (SELECT CM.CPU_MANUFACTURER_NAME 
     FROM CPU_MANUFACTURER CM 
     WHERE CM.CPU_MANUFACTURER_IDX = C.CPU_MANUFACTURER_IDX) AS CPU_MANUFACTURER_NAME,
    (SELECT CS.CPU_SERIES_NAME 
     FROM CPU_SERIES CS 
     WHERE CS.CPU_SERIES_IDX = C.CPU_SERIES_IDX) AS CPU_SERIES_NAME,
    (SELECT CT.CPU_TYPE_NAME 
     FROM CPU_TYPE CT 
     WHERE CT.CPU_TYPE_IDX = C.CPU_TYPE_IDX) AS CPU_TYPE_NAME,
    (SELECT CC.CPU_CORE_COUNT 
     FROM CPU_CORE CC 
     WHERE CC.CPU_CORE_IDX = C.CPU_CORE_IDX) AS CPU_CORE_COUNT,
    (SELECT CT.CPU_THREAD_COUNT 
     FROM CPU_THREAD CT 
     WHERE CT.CPU_THREAD_IDX = C.CPU_THREAD_IDX) AS CPU_THREAD_COUNT,
    (SELECT BC.CPU_BASE_CLOCK
     FROM CPU_BASE_CLOCK BC 
     WHERE BC.CPU_BASE_CLOCK_IDX = C.CPU_BASE_CLOCK_IDX) AS CPU_BASE_CLOCK,
    (SELECT BO.CPU_BOOST_CLOCK
     FROM CPU_BOOST_CLOCK BO 
     WHERE BO.CPU_BOOST_CLOCK_IDX = C.CPU_BOOST_CLOCK_IDX) AS CPU_BOOST_CLOCK,
    (SELECT T.CPU_TDP
     FROM CPU_TDP T 
     WHERE T.CPU_TDP_IDX = C.CPU_TDP_IDX) AS CPU_TDP,
    (SELECT A.CPU_ARCHITECTURE_NAME 
     FROM CPU_ARCHITECTURE A 
     WHERE A.CPU_ARCHITECTURE_IDX = C.CPU_ARCHITECTURE_IDX) AS CPU_ARCHITECTURE_NAME,
    (SELECT PT.CPU_PROCESS_TECHNOLOGY_NAME 
     FROM CPU_PROCESS_TECHNOLOGY PT 
     WHERE PT.CPU_PROCESS_TECHNOLOGY_IDX = C.CPU_PROCESS_TECHNOLOGY_IDX) AS CPU_PROCESS_TECHNOLOGY_NAME,
    (SELECT CST.CPU_SOCKET_TYPE 
     FROM CPU_SOCKET_TYPE CST 
     WHERE CST.CPU_SOCKET_TYPE_IDX = C.CPU_SOCKET_TYPE_IDX) AS CPU_SOCKET_TYPE,
    (SELECT IG.CPU_INTEGRATED_GRAPHICS_NAME 
     FROM CPU_INTEGRATED_GRAPHICS IG 
     WHERE IG.CPU_INTEGRATED_GRAPHICS_IDX = C.CPU_INTEGRATED_GRAPHICS_IDX) AS CPU_INTEGRATED_GRAPHICS_NAME,
    (SELECT L2.CPU_L2_CACHE_SIZE 
     FROM CPU_L2_CACHE L2 
     WHERE L2.CPU_L2_CACHE_IDX = C.CPU_L2_CACHE_IDX) AS CPU_L2_CACHE_SIZE,
    (SELECT L3.CPU_L3_CACHE_SIZE 
     FROM CPU_L3_CACHE L3 
     WHERE L3.CPU_L3_CACHE_IDX = C.CPU_L3_CACHE_IDX) AS CPU_L3_CACHE_SIZE,
     CPU_RELEASE_DATE,
     CPU_ORIGIN_PRICE,
     CPU_NOW_PRICE,
     COMPUTER_PART_FILTER_IDX,
    (SELECT CPU_SFILE_NAME 
     FROM CPU_IMAGE CI 
     WHERE CI.CPU_IDX = C.CPU_IDX) AS CPU_SFILE_NAME
FROM CPU C


</select>

</mapper>