<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.crolling.mapper.CrollingMapper">

	<select id="findByProductName">
		SELECT *
		FROM   PRODUCT
		WHERE  PRODUCT_NAME LIKE '%'||#{product_name}||'%' AND PRICE = #{price}
	</select>

	<insert id="saveProduct">
		INSERT INTO product (
			product_name,
			product_description,
			price,
			category_idx
		) VALUES (
			#{product_name},
			#{product_description},
			#{price},
			#{category_idx}
		)
	</insert>

	<insert id="saveProductImg">
		INSERT INTO product_image (
			product_idx,
			product_image_name,
			product_image_ext,
			product_sfile_name
		) VALUES (
			(SELECT MAX(PRODUCT_IDX) FROM PRODUCT),
			#{product_image_name},
			#{product_image_ext},
		  #{product_sfile_name}
		)

	</insert>

</mapper>