<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.cs.mapper.CsMapper">  
  <!-- 고객센터_자주하는질문_목록 -->
  <select id="getcsList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE ADMIN_USER_IDX IS NOT NULL
  </select>
  
  <!-- 고객센터_자주하는질문_상세페이지 -->
  <select id="getfaqList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </select>
  
  <!-- 고객센터_검색 -->
  <select id="getsearchList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE ADMIN_USER_IDX IS NOT NULL 
     AND (   CUSTOMER_SERVICE_TITLE   LIKE '%' || #{searchtext} || '%' 
          OR CUSTOMER_SERVICE_CONTENT LIKE '%' || #{searchtext} || '%') 
  </select>
  
  <!-- 고객센터_문의글 등록 --> 
  <insert id="insertcs">
   INSERT INTO CUSTOMER_SERVICE 
   	( CUSTOMER_SERVICE_IDX, CUSTOMER_SERVICE_TITLE 
     ,CUSTOMER_SERVICE_TYPE, CUSTOMER_SERVICE_REGDATE 
     ,CUSTOMER_SERVICE_CONTENT, USER_IDX) 
   VALUES 
   	( (SELECT NVL(MAX(customer_service_idx),0)+1 FROM CUSTOMER_SERVICE ) ,#{customer_service_title} 
     ,#{customer_service_type}, SYSDATE
     ,#{customer_service_content}, #{user_idx})
  </insert>
  
  <!-- 고객센터_이미지 등록 -->
  <insert id="insertcsImage">
    <foreach collection="fileList" item ="file" 
             index      = "i"
             open       = "INSERT ALL"
             close      = "SELECT * FROM DUAL"
             separator  = " " >
		INTO CUSTOMER_SERVICE_IMAGE (
		CUSTOMER_SERVICE_IMAGE_IDX,
		CUSTOMER_SERVICE_IDX,
		CUSTOMER_SERVICE_IMAGE_NAME,
		CUSTOMER_SERVICE_IMAGE_EXT,
		CUSTOMER_SERVICE_SFILE_NAME
		) VALUES (
		(SELECT NVL(MAX(customer_service_image_idx),0)+1 FROM CUSTOMER_SERVICE_IMAGE) + #{i} + 1,
		(SELECT MAX(customer_service_idx) FROM CUSTOMER_SERVICE),
		#{file.customer_service_image_name},
		#{file.customer_service_image_ext},
		#{file.customer_service_sfile_name}
		)
    </foreach>
  </insert>
  
  <!-- 고객센터_문의글 등록_회원정보 -->
  <select id="getminfo">
   SELECT *
   FROM  USERS
   WHERE USER_IDX = #{user_idx}
  </select>
  
  <!-- 고객센터_나의 문의내역_목록 -->
  <select id="getmycsList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE USER_IDX = #{user_idx}
   ORDER BY CUSTOMER_SERVICE_IDX DESC
  </select>
  
  <!-- 고객센터_나의 문의내역_상세페이지 -->
  <select id="getmycs">
   SELECT *
   FROM CUSTOMER_SERVICE
   WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </select>
  
  <!-- 고객센터_나의 문의내역_상세페이지_답변 -->
  <select id="getanswer">
   SELECT *
   FROM CUSTOMER_SERVICE_ANSWER
   WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </select>
  
  <!-- 고객센터_공지사항_목록 -->
  <select id="getntList">
   SELECT *
   FROM  NOTICE 
   ORDER BY NOTICE_IDX DESC
   FETCH FIRST 5 ROWS ONLY
  </select>
  
  <!-- 고객센터_공지사항_상세페이지 -->
  <select id="getnotice">
   SELECT *
   FROM NOTICE
   WHERE NOTICE_IDX = #{notice_idx}
  </select>
  
  <!-- 고객센터_공지사항_상세페이지_이전 공지 값 -->
  <select id="getprevious">
   SELECT *
   FROM NOTICE
   WHERE NOTICE_IDX = 
   	(SELECT MAX(NOTICE_IDX)
     FROM NOTICE
     WHERE NOTICE_IDX &lt; #{notice_idx})
  </select>
  
    <!-- 고객센터_공지사항_상세페이지_다음 공지 값 -->
  <select id="getnext">
   SELECT *
   FROM NOTICE
   WHERE NOTICE_IDX = 
   	(SELECT MIN(NOTICE_IDX)
     FROM NOTICE
     WHERE NOTICE_IDX &gt; #{notice_idx})
  </select>
  
  <!-- 관리자_고객센터_자주하는질문_목록 -->
  <select id="getaskList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE ADMIN_USER_IDX IS NOT NULL
   ORDER BY CUSTOMER_SERVICE_REGDATE DESC
   OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  <!-- 관리자_고객센터_자주하는질문_총목록 -->
  <select id="getcountaskList">
   SELECT COUNT(*)
   FROM  CUSTOMER_SERVICE
   WHERE ADMIN_USER_IDX IS NOT NULL
  </select>
  
  <!-- 관리자_고객센터_자주하는질문_등록 -->
  <insert id="insertask">
   INSERT INTO CUSTOMER_SERVICE 
   	( 
   	  CUSTOMER_SERVICE_IDX, CUSTOMER_SERVICE_TITLE 
     ,CUSTOMER_SERVICE_TYPE, CUSTOMER_SERVICE_REGDATE 
     ,CUSTOMER_SERVICE_CONTENT 
     ,ADMIN_USER_IDX
    ) 
   VALUES 
   	( 
   	 (SELECT NVL(MAX(customer_service_idx),0)+1 FROM CUSTOMER_SERVICE ) 
   	 ,#{customer_service_title} 
     ,#{customer_service_type}
     , SYSDATE
     ,#{customer_service_content}
     ,1
    )
  </insert>
  
  <!-- 관리자_고객센터_자주하는질문_조회 -->
  <select id="selectask">
   SELECT  CUSTOMER_SERVICE_IDX,
           CUSTOMER_SERVICE_TITLE,
           CUSTOMER_SERVICE_TYPE,
           CUSTOMER_SERVICE_CONTENT
    FROM  CUSTOMER_SERVICE
    WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </select>
  
  <!-- 관리자_고객센터_자주하는질문_수정 -->
  <update id="updateask">
    UPDATE CUSTOMER_SERVICE
    SET CUSTOMER_SERVICE_TITLE = #{customer_service_title},
        CUSTOMER_SERVICE_CONTENT = #{customer_service_content},
        CUSTOMER_SERVICE_TYPE = #{customer_service_type}
    WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </update>
 
  <!-- 관리자_고객센터_자주하는질문_삭제 -->
  <delete id="deleteAsk">
    DELETE FROM CUSTOMER_SERVICE
    WHERE CUSTOMER_SERVICE_IDX = #{customer_service_idx}
  </delete>
  
  
  
  <!-- 관리자_고객센터_문의내역_목록 -->
  <select id="getmacsList">
   SELECT *
   FROM  CUSTOMER_SERVICE
   WHERE USER_IDX IS NOT NULL
   ORDER BY CUSTOMER_SERVICE_REGDATE DESC
   OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  <!-- 관리자_고객센터_문의내역_총목록 -->
  <select id="getcountmacsList">
   SELECT COUNT(*)
   FROM  CUSTOMER_SERVICE
   WHERE USER_IDX IS NOT NULL
  </select>
  
  <!-- 관리자_고객센터_공지사항_목록 -->
  <select id="getnoticeList">
   SELECT *
   FROM  NOTICE 
   ORDER BY NOTICE_IDX DESC
   OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  <!-- 관리자_고객센터_공지사항_총목록 -->
  <select id="getcountnoticeList">
   SELECT COUNT(*)
   FROM  NOTICE 
  </select>
  
  <!-- 관리자_고객센터_공지사항_조회 -->
  <select id="selectnotice">
   SELECT NOTICE_IDX,
    	  NOTICE_TITLE,
    	  NOTICE_TYPE,
    	  NOTICE_REGDATE,
      	  NOTICE_CONTENT
   FROM  NOTICE 
   WHERE NOTICE_IDX = ${notice_idx}
  </select>
  
  <!-- 관리자_고객센터_공지사항_수정 -->
  <update id="updatenotice">
    UPDATE NOTICE
    SET NOTICE_TITLE = #{notice_title},
        NOTICE_CONTENT = #{notice_content},
        NOTICE_TYPE = #{notice_type}
    WHERE NOTICE_IDX = #{notice_idx}
  </update>
  
  <!-- 관리자_고객센터_공지사항_삭제 -->
  <delete id="deletenotice">
    DELETE FROM NOTICE
    WHERE NOTICE_IDX = #{notice_idx}
  </delete>
  
  <!-- 관리자_고객센터_공지사항_등록 -->
  <insert id="insertnotice">
   INSERT INTO NOTICE 
   	( 
   	  NOTICE_IDX, NOTICE_TITLE 
     ,NOTICE_TYPE, NOTICE_REGDATE 
     ,NOTICE_CONTENT 
    ) 
   VALUES 
   	( 
   	 (SELECT NVL(MAX(notice_idx),0)+1 FROM NOTICE ) 
   	 ,#{notice_title} 
     ,#{notice_type}
     , SYSDATE
     ,#{notice_content}
    )
  </insert>

</mapper>