<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.desktopcase.mapper.DesktopCaseMapper">  

<select id="getdeskTopEstimateDesktopCaseFilterList">
SELECT
*
FROM
    DESKTOP_CASE_MANUFACTURER  DCM
JOIN
    DESKTOP_CASE_TYPE  DCY
ON
    DCM.COMPUTER_PART_FILTER_IDX = DCY.COMPUTER_PART_FILTER_IDX
JOIN
    DESKTOP_CASE_POWER_STANDARD  DCPS 
ON
    DCY.COMPUTER_PART_FILTER_IDX = DCPS.COMPUTER_PART_FILTER_IDX
JOIN
    DESKTOP_CASE_SIZE  DCS
ON
    DCPS.COMPUTER_PART_FILTER_IDX = DCS.COMPUTER_PART_FILTER_IDX
JOIN
    DESKTOP_CASE_SUPPORTED_BOARD  DCSB
ON
    DCS.COMPUTER_PART_FILTER_IDX = DCSB.COMPUTER_PART_FILTER_IDX

</select>


<select id="getDesktopCaseResultList">
  SELECT
    DC.DESKTOP_CASE_IDX,
    (SELECT DESKTOP_CASE_MANUFACTURER_NAME FROM DESKTOP_CASE_MANUFACTURER WHERE MANUFACTURER_IDX = DC.DESKTOP_CASE_MANUFACTURER_IDX) AS DESKTOP_CASE_MANUFACTURER_NAME,
    DC.DESKTOP_CASE_NAME,
    (SELECT DESKTOP_CASE_TYPE_NAME FROM DESKTOP_CASE_TYPE WHERE DESKTOP_CASE_TYPE_IDX = DC.DESKTOP_CASE_TYPE_IDX) AS DESKTOP_CASE_TYPE_NAME,
    (SELECT DESKTOP_CASE_MATERIAL_NAME FROM DESKTOP_CASE_MATERIAL WHERE DESKTOP_CASE_MATERIAL_IDX = DC.DESKTOP_CASE_MATERIAL_IDX) AS DESKTOP_CASE_MATERIAL_NAME,
    DC.DESKTOP_CASE_COLOR,
    (SELECT DESKTOP_CASE_WIDTH_NAME FROM DESKTOP_CASE_WIDTH WHERE DESKTOP_CASE_WIDTH_IDX = DC.DESKTOP_CASE_WIDTH_IDX) AS DESKTOP_CASE_WIDTH_NAME,
    (SELECT DESKTOP_CASE_LENGTH_NAME FROM DESKTOP_CASE_LENGTH WHERE DESKTOP_CASE_LENGTH_IDX = DC.DESKTOP_CASE_LENGTH_IDX) AS DESKTOP_CASE_LENGTH_NAME,
    (SELECT DESKTOP_CASE_HEIGHT_NAME FROM DESKTOP_CASE_HEIGHT WHERE DESKTOP_CASE_HEIGHT_IDX = DC.DESKTOP_CASE_HEIGHT_IDX) AS DESKTOP_CASE_HEIGHT_NAME,
    (SELECT DESKTOP_CASE_WEIGHT_NAME FROM DESKTOP_CASE_WEIGHT WHERE DESKTOP_CASE_WEIGHT_IDX = DC.DESKTOP_CASE_WEIGHT_IDX) AS DESKTOP_CASE_WEIGHT_NAME,
    (SELECT DESKTOP_CASE_GPU_LENGTH_NAME FROM DESKTOP_CASE_GPU_LENGTH WHERE DESKTOP_CASE_GPU_LENGTH_IDX = DC.DESKTOP_CASE_GPU_LENGTH_IDX) AS DESKTOP_CASE_GPU_LENGTH_NAME,
    (SELECT DESKTOP_CASE_CPU_COOLER_HEIGHT_NAME FROM DESKTOP_CASE_CPU_COOLER_HEIGHT WHERE DESKTOP_CASE_CPU_COOLER_HEIGHT_IDX = DC.DESKTOP_CASE_CPU_COOLER_HEIGHT_IDX) AS DESKTOP_CASE_CPU_COOLER_HEIGHT_NAME,
    (SELECT DESKTOP_CASE_FAN_SLOTS_NAME FROM DESKTOP_CASE_FAN_SLOTS WHERE DESKTOP_CASE_FAN_SLOTS_IDX = DC.DESKTOP_CASE_FAN_SLOTS_IDX) AS DESKTOP_CASE_FAN_SLOTS_NAME,
    (SELECT DESKTOP_CASE_RADIATOR_SUPPORT_NAME FROM DESKTOP_CASE_RADIATOR_SUPPORT WHERE DESKTOP_CASE_RADIATOR_SUPPORT_IDX = DC.DESKTOP_CASE_RADIATOR_SUPPORT_IDX) AS DESKTOP_CASE_RADIATOR_SUPPORT_NAME,
    (SELECT DESKTOP_CASE_DRIVE_BAYS_NAME FROM DESKTOP_CASE_DRIVE_BAYS WHERE DESKTOP_CASE_DRIVE_BAYS_IDX = DC.DESKTOP_CASE_DRIVE_BAYS_IDX) AS DESKTOP_CASE_DRIVE_BAYS_NAME,
    (SELECT DESKTOP_CASE_USB_PORTS_NAME FROM DESKTOP_CASE_USB_PORTS WHERE DESKTOP_CASE_USB_PORTS_IDX = DC.DESKTOP_CASE_USB_PORTS_IDX) AS DESKTOP_CASE_USB_PORTS_NAME,
    (SELECT DESKTOP_CASE_SIZE_NAME FROM DESKTOP_CASE_SIZE WHERE DESKTOP_CASE_SIZE_IDX = DC.DESKTOP_CASE_SIZE_IDX) AS DESKTOP_CASE_SIZE_NAME,
    (SELECT DESKTOP_CASE_SUPPORTED_BOARD_NAME FROM DESKTOP_CASE_SUPPORTED_BOARD WHERE DESKTOP_CASE_SUPPORTED_BOARD_IDX = DC.DESKTOP_CASE_SUPPORTED_BOARD_IDX) AS DESKTOP_CASE_SUPPORTED_BOARD_NAME,
    (SELECT DESKTOP_CASE_SIDE_PANEL_TYPE_NAME FROM DESKTOP_CASE_SIDE_PANEL_TYPE WHERE DESKTOP_CASE_SIDE_PANEL_TYPE_IDX = DC.DESKTOP_CASE_SIDE_PANEL_TYPE_IDX) AS DESKTOP_CASE_SIDE_PANEL_TYPE_NAME,
    (SELECT DESKTOP_CASE_POWER_LENGTH_NAME FROM DESKTOP_CASE_POWER_LENGTH WHERE DESKTOP_CASE_POWER_LENGTH_IDX = DC.DESKTOP_CASE_POWER_LENGTH_IDX) AS DESKTOP_CASE_POWER_LENGTH_NAME,
    (SELECT DESKTOP_CASE_VGA_LENGTH_NAME FROM DESKTOP_CASE_VGA_LENGTH WHERE DESKTOP_CASE_VGA_LENGTH_IDX = DC.DESKTOP_CASE_VGA_LENGTH_IDX) AS DESKTOP_CASE_VGA_LENGTH_NAME,
    DC.DESKTOP_CASE_ORIGIN_PRICE,
    DC.DESKTOP_CASE_NOW_PRICE,
    DC.DESKTOP_CASE_RELEASE_DATE,
    COMPUTER_PART_FILTER_IDX,
    (SELECT DESKTOP_CASE_POWER_STANDARD_NAME FROM DESKTOP_CASE_POWER_STANDARD WHERE DESKTOP_CASE_POWER_STANDARD_IDX = DC.DESKTOP_CASE_POWER_STANDARD_IDX) AS DESKTOP_CASE_POWER_STANDARD_NAME,
    (SELECT DESKTOP_CASE_SFILE_NAME  FROM DESKTOP_CASE_IMAGE WHERE DESKTOP_CASE_IDX = DC.DESKTOP_CASE_IDX  )
    
FROM
    DESKTOP_CASE AS DC
</select>


</mapper>