<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gpu.mapper.GpuMapper">  

<select id="getdeskTopEstimateGpuFilterList">
SELECT
      GM.GPU_MANUFACTURER_IDX
    , GM.GPU_MANUFACTURER_NAME
    , GC.GPU_CHIPSET_IDX
    , GC.GPU_CHIPSET_NAME
    , GMP.GPU_MANUFACTURING_PROCESS_IDX
    , GMP.GPU_MANUFACTURING_PROCESS
    
FROM
    GPU_MANUFACTURER GM
JOIN
    GPU_CHIPSET GC
ON
    GM.COMPUTER_PART_FILTER_IDX = GC.COMPUTER_PART_FILTER_IDX
JOIN
    GPU_MANUFACTURING_PROCESS GMP
ON
    GC.COMPUTER_PART_FILTER_IDX = GMP.COMPUTER_PART_FILTER_IDX

</select>

<select id="getGpuResultList">

SELECT
     GPU_IDX,
     GPU_NAME,
    (SELECT GM.GPU_MANUFACTURER_NAME 
     FROM GPU_MANUFACTURER GM 
     WHERE GM.GPU_MANUFACTURER_IDX = G.GPU_MANUFACTURER_IDX) AS GPU_MANUFACTURER_NAME,
    (SELECT GC.GPU_CHIPSET_NAME 
     FROM GPU_CHIPSET GC 
     WHERE GC.GPU_CHIPSET_IDX = G.GPU_CHIPSET_IDX) AS GPU_CHIPSET_NAME,
    (SELECT GMP.GPU_MANUFACTURING_PROCESS 
     FROM GPU_MANUFACTURING_PROCESS GMP 
     WHERE GMP.GPU_MANUFACTURING_PROCESS_IDX = G.GPU_MANUFACTURING_PROCESS_IDX) AS GPU_MANUFACTURING_PROCESS,
    (SELECT GM.MEMORY_SIZE 
     FROM GPU_MEMORY GM 
     WHERE GM.GPU_MEMORY_IDX = G.GPU_MEMORY_IDX) AS GPU_MEMORY_SIZE,
    (SELECT GT.MEMORY_TYPE
     FROM GPU_MEMORY_TYPE GT 
     WHERE GT.GPU_MEMORY_TYPE_IDX = G.GPU_MEMORY_TYPE_IDX) AS GPU_MEMORY_TYPE,
    (SELECT GC.CORE_COUNT 
     FROM GPU_CORE GC 
     WHERE GC.GPU_CORE_IDX = G.GPU_CORE_IDX) AS GPU_CORE_COUNT,
    (SELECT BC.BASE_CLOCK 
     FROM GPU_BASE_CLOCK BC 
     WHERE BC.GPU_BASE_CLOCK_IDX = G.GPU_BASE_CLOCK_IDX) AS GPU_BASE_CLOCK,
    (SELECT BO.BOOST_CLOCK 
     FROM GPU_BOOST_CLOCK BO 
     WHERE BO.GPU_BOOST_CLOCK_IDX = G.GPU_BOOST_CLOCK_IDX) AS GPU_BOOST_CLOCK,
    (SELECT P.GPU_RECOMMENDED_POWER 
     FROM GPU_POWER P 
     WHERE P.GPU_POWER_IDX = G.GPU_POWER_IDX) AS GPU_RECOMMENDED_POWER,
    (SELECT CM.COOLING_METHOD
     FROM GPU_COOLING_METHOD CM 
     WHERE CM.GPU_COOLING_METHOD_IDX = G.GPU_COOLING_METHOD_IDX) AS GPU_COOLING_METHOD,
    (SELECT FC.FAN_COUNT 
     FROM GPU_FAN_COUNT FC 
     WHERE FC.GPU_FAN_COUNT_IDX = G.GPU_FAN_COUNT_IDX) AS GPU_FAN_COUNT,
    (SELECT W.WIDTH
     FROM GPU_WIDTH W 
     WHERE W.GPU_WIDTH_IDX = G.GPU_WIDTH_IDX) AS GPU_WIDTH,
    (SELECT H.HEIGHT_VALUE 
     FROM GPU_HEIGHT H 
     WHERE H.GPU_HEIGHT_IDX = G.GPU_HEIGHT_IDX) AS GPU_HEIGHT,
    (SELECT T.THICKNESS 
     FROM GPU_THICKNESS T 
     WHERE T.GPU_THICKNESS_IDX = G.GPU_THICKNESS_IDX) AS GPU_THICKNESS,
     GPU_RELEASE_DATE,
     GPU_ORIGIN_PRICE,
     GPU_NOW_PRICE,
     COMPUTER_PART_FILTER_IDX,
     (SELECT GI.GPU_SFILE_NAME FROM  GPU_IMAGE  GI  WHERE  G.GPU_IDX = GI.GPU_IDX)
FROM GPU G


</select>

</mapper>