<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.hdd.mapper.HddMapper">  


<select id="getdeskTopEstimateHddFilterList">
SELECT
*
FROM
    HDD_MANUFACTURER  HM
JOIN
    HDD_CAPACITY  HC
ON
    HM.COMPUTER_PART_FILTER_IDX = HC.COMPUTER_PART_FILTER_IDX
JOIN
    HDD_TYPE  HY
ON
    HC.COMPUTER_PART_FILTER_IDX = HY.COMPUTER_PART_FILTER_IDX
JOIN
    HDD_INTERFACE  HI
ON
    HY.COMPUTER_PART_FILTER_IDX = HI.COMPUTER_PART_FILTER_IDX
JOIN
    HDD_ROTATIONAL_SPEED  HRS
ON
    HI.COMPUTER_PART_FILTER_IDX = HRS.COMPUTER_PART_FILTER_IDX
</select>


<select id="getHddResultList">
SELECT
    H.HDD_IDX,
    (SELECT HM.HDD_MANUFACTURER_NAME FROM HDD_MANUFACTURER AS HM WHERE HM.HDD_MANUFACTURER_IDX = H.HDD_MANUFACTURER_IDX) AS HDD_MANUFACTURER_NAME,
    H.HDD_NAME,
    (SELECT HC.HDD_CAPACITY FROM HDD_CAPACITY AS HC WHERE HC.HDD_CAPACITY_IDX = H.HDD_CAPACITY_IDX) AS HDD_CAPACITY,
    (SELECT HT.HDD_TRANSFER_SPEED FROM HDD_TRANSFER_SPEED AS HT WHERE HT.HDD_TRANSFER_SPEED_IDX = H.HDD_TRANSFER_SPEED_IDX) AS HDD_TRANSFER_SPEED,
    (SELECT HTY.HDD_TYPE FROM HDD_TYPE AS HTY WHERE HTY.HDD_TYPE_IDX = H.HDD_TYPE_IDX) AS HDD_TYPE,
    (SELECT HI.HDD_INTERFACE FROM HDD_INTERFACE AS HI WHERE HI.HDD_INTERFACE_IDX = H.HDD_INTERFACE_IDX) AS HDD_INTERFACE,
    (SELECT HRS.HDD_ROTATIONAL_SPEED FROM HDD_ROTATIONAL_SPEED AS HRS WHERE HRS.HDD_ROTATIONAL_SPEED_IDX = H.HDD_ROTATIONAL_SPEED_IDX) AS HDD_ROTATIONAL_SPEED,
    (SELECT HCS.HDD_CACHE_SIZE FROM HDD_CACHE_SIZE AS HCS WHERE HCS.HDD_CACHE_SIZE_IDX = H.HDD_CACHE_SIZE_IDX) AS HDD_CACHE_SIZE,
    (SELECT HFF.HDD_FORM_FACTOR FROM HDD_FORM_FACTOR AS HFF WHERE HFF.HDD_FORM_FACTOR_IDX = H.HDD_FORM_FACTOR_IDX) AS HDD_FORM_FACTOR,
    (SELECT HD.HDD_DURABILITY FROM HDD_DURABILITY AS HD WHERE HD.HDD_DURABILITY_IDX = H.HDD_DURABILITY_IDX) AS HDD_DURABILITY,
    (SELECT HBS.HDD_BUFFER_SIZE FROM HDD_BUFFER_SIZE AS HBS WHERE HBS.HDD_BUFFER_SIZE_IDX = H.HDD_BUFFER_SIZE_IDX) AS HDD_BUFFER_SIZE,
    (SELECT HDC.HDD_DISK_COUNT FROM HDD_DISK_COUNT AS HDC WHERE HDC.HDD_DISK_COUNT_IDX = H.HDD_DISK_COUNT_IDX) AS HDD_DISK_COUNT,
    (SELECT HRM.HDD_RECORDING_METHOD FROM HDD_RECORDING_METHOD AS HRM WHERE HRM.HDD_RECORDING_METHOD_IDX = H.HDD_RECORDING_METHOD_IDX) AS HDD_RECORDING_METHOD,
    (SELECT HTK.HDD_THICKNESS FROM HDD_THICKNESS AS HTK WHERE HTK.HDD_THICKNESS_IDX = H.HDD_THICKNESS_IDX) AS HDD_THICKNESS,
    H.HDD_ORIGIN_PRICE,
    H.HDD_NOW_PRICE,
    H.HDD_RELEASE_DATE,
    H.COMPUTER_PART_FILTER_IDX,
    (SELECT HI.HDD_SFILE_NAME FROM HDD_IMAGE AS HI WHERE HI.HDD_IDX = H.HDD_IDX) AS HDD_SFILE_NAME
FROM
    HDD AS H

</select>


</mapper>