<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.oauth.mapper.HomeMapper">  
	
 	<select id="findProductType">
 		SELECT CATEGORY_IDX,
 		       CATEGORY_NAME
    FROM   CATEGORY
    WHERE  PARENT_CATEGORY_IDX IN (1,4) AND CATEGORY_IDX != 4
 	</select>
 	
 	<select id="findByCategoryIdxOffset">
 		SELECT P.PRODUCT_IDX,
       	   P.PRODUCT_NAME,
       	   P.PRICE,
       	   P.CATEGORY_IDX,
           P.CREATED_AT,
           PI.PRODUCT_SFILE_NAME
		FROM   PRODUCT P LEFT JOIN PRODUCT_IMAGE PI ON P.PRODUCT_IDX = PI.PRODUCT_IDX
		WHERE  CATEGORY_IDX = #{CATEGORY_IDX} 
		ORDER BY CREATED_AT DESC
		OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY
 	</select>
 	
 	<select id="findProduct">
 		SELECT *
 		FROM   PRODUCT
 		WHERE  CATEGORY_IDX = 5
 	</select>
 	
 	<select id="findSearchProduct">
		SELECT PRODUCT_NAME
		FROM PRODUCT_NORMALIZE_NAME PNN 
		RIGHT JOIN PRODUCT P ON P.PRODUCT_IDX = PNN.PRODUCT_IDX 
		WHERE REGEXP_LIKE(REGEXP_REPLACE(PRODUCT_NORMALIZE_NAME, ' ', ''), REPLACE(FN_GET_DIV_KO_CHAR(#{keyword}), ' ', ''),  'i')
			     OR PRODUCT_NORMALIZE_NAME LIKE '%'|| FN_GET_DIV_KO_CHAR(#{keyword}) ||'%' 
		OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY
 	</select>
</mapper>

















