<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.product.mapper.ProductMapper">  

<select id="getdeskTopEstimateProductFilterList">
SELECT
   *
FROM
    category_attribute  CA
JOIN
    CATEGORY_ATTRIBUTE_VALUE  CAV
ON
    CA.CATEGORY_ATTRIBUTE_IDX = CAV.CATEGORY_ATTRIBUTE_IDX
WHERE 
    CA.CATEGORY_IDX = #{category}
    

</select>

<select id="productCategoryResultList">
SELECT
    CA.CATEGORY_ATTRIBUTE_IDX,
    CA.CATEGORY_IDX,
    CA.CATEGORY_ATTRIBUTE_NAME,
    CAV.CATEGORY_ATTRIBUTE_VALUE_IDX,
    CAV.CATEGORY_ATTRIBUTE_VALUE_NAME
FROM
    CATEGORY_ATTRIBUTE  CA
JOIN
    CATEGORY_ATTRIBUTE_VALUE  CAV
ON
    CA.CATEGORY_ATTRIBUTE_IDX = CAV.CATEGORY_ATTRIBUTE_IDX
WHERE CA.CATEGORY_IDX = #{category}   
    

</select>

<select id="getProductResultMapList">

SELECT
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION)  PRODUCT_DESCRIPTION ,
    P.PRICE,
    P.CATEGORY_IDX,
    P.CREATED_AT,
    P.UPDATED_AT
FROM
    PRODUCT  P
WHERE
    P.CATEGORY_IDX  = #{category}
GROUP BY 
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION) ,
    P.PRICE,
    P.CATEGORY_IDX,
    P.CREATED_AT,
    P.UPDATED_AT
ORDER  BY   P.PRODUCT_IDX ASC

</select>

<select id="getProductResultList" parameterType="hashMap" resultType="hashMap">

SELECT
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION)  PRODUCT_DESCRIPTION ,
    P.PRICE,
    P.CATEGORY_IDX,
    P.CREATED_AT,
    P.UPDATED_AT,
    PI.PRODUCT_IMAGE_IDX,
    PI.PRODUCT_IMAGE_NAME,
    PI.PRODUCT_IMAGE_EXT,
    PI.PRODUCT_SFILE_NAME
FROM
    PRODUCT  P
JOIN
    PRODUCT_IMAGE  PI
ON
    P.PRODUCT_IDX = PI.PRODUCT_IDX
LEFT 	JOIN
    PRODUCT_ATTRIBUTE  PA
ON 
    P.PRODUCT_IDX = PA.PRODUCT_IDX
WHERE
    P.CATEGORY_IDX  = #{category}

 <if test="categoryAttributeIdxs != null ">    
AND
    PA.CATEGORY_ATTRIBUTE_IDX IN
        <foreach item="categoryAttributeIdxs" index="index" collection="categoryAttributeIdxs"
         open="(" separator="," close=")">
           #{ categoryAttributeIdxs }
         </foreach>
</if>
 <if test="categoryAttributeValueIdxs != null ">    
AND
    PA.CATEGORY_ATTRIBUTE_VALUE_IDX IN
        <foreach item="categoryAttributeValueIdxs" index="index" collection="categoryAttributeValueIdxs"
         open="(" separator="," close=")">
           #{ categoryAttributeValueIdxs }
         </foreach>
</if>
   
GROUP BY 
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION) ,
    P.PRICE,
    P.CATEGORY_IDX,
    P.CREATED_AT,
    P.UPDATED_AT,
    PI.PRODUCT_IMAGE_IDX,
    PI.PRODUCT_IMAGE_NAME,
    PI.PRODUCT_IMAGE_EXT,
    PI.PRODUCT_SFILE_NAME
ORDER  BY   P.PRODUCT_IDX ASC
OFFSET #{ startRow } ROWS FETCH NEXT #{ endRow } ROWS ONLY

</select>

<select id="getProductResultListCount">
SELECT  COUNT(DISTINCT P.PRODUCT_IDX)
FROM
    PRODUCT  P
JOIN
    PRODUCT_IMAGE  PI
ON
    P.PRODUCT_IDX = PI.PRODUCT_IDX
LEFT JOIN
    PRODUCT_ATTRIBUTE  PA
ON 
    P.PRODUCT_IDX = PA.PRODUCT_IDX
WHERE
    P.CATEGORY_IDX  = #{category}
 <if test="categoryAttributeIdxs != null ">    
AND
    PA.CATEGORY_ATTRIBUTE_IDX IN
        <foreach item="categoryAttributeIdxs" index="index" collection="categoryAttributeIdxs"
         open="(" separator="," close=")">
           #{ categoryAttributeIdxs }
         </foreach>
</if>
 <if test="categoryAttributeValueIdxs != null ">    
AND
    PA.CATEGORY_ATTRIBUTE_VALUE_IDX IN
        <foreach item="categoryAttributeValueIdxs" index="index" collection="categoryAttributeValueIdxs"
         open="(" separator="," close=")">
           #{ categoryAttributeValueIdxs }
         </foreach>
</if>



</select>


<select id="getCategoryMap">
SELECT
    CATEGORY_IDX,
    CATEGORY_NAME,
    PARENT_CATEGORY_IDX,
    DEPTH
FROM
    CATEGORY
WHERE 
   CATEGORY_IDX = #{category}
</select>

<select id="getcategoryAttributeList">
SELECT 
*
FROM
    CATEGORY_ATTRIBUTE  CA
JOIN
    CATEGORY_ATTRIBUTE_VALUE  CAV
ON
    CA.CATEGORY_ATTRIBUTE_IDX = CAV.CATEGORY_ATTRIBUTE_IDX
WHERE 
    CA.CATEGORY_IDX = #{category}
    
</select>

<insert id="setProductCpu">
INSERT INTO PRODUCT_ATTRIBUTE (
    PRODUCT_IDX,
    CATEGORY_ATTRIBUTE_IDX,
    CATEGORY_ATTRIBUTE_VALUE_IDX
) VALUES (
    #{PRODUCT_IDX},
    #{CATEGORY_ATTRIBUTE_IDX} ,
    #{CATEGORY_ATTRIBUTE_VALUE_IDX}
    
)

</insert>

<select id="getProductList">
  SELECT
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION)  PRODUCT_DESCRIPTION ,
    P.PRICE,
    P.CATEGORY_IDX
   
FROM
    PRODUCT  P
LEFT JOIN
    PRODUCT_ATTRIBUTE  PA
ON
    P.PRODUCT_IDX = PA.PRODUCT_IDX
JOIN
    CATEGORY_ATTRIBUTE CA
ON
    P.CATEGORY_IDX = CA.CATEGORY_IDX
JOIN
    CATEGORY_ATTRIBUTE_VALUE CAV
ON
    PA.CATEGORY_ATTRIBUTE_VALUE_IDX = CAV.CATEGORY_ATTRIBUTE_VALUE_IDX
WHERE 

	   P.PRODUCT_IDX IN

<foreach item="productIdxList" index="index" collection="productIdxList"
         open="(" separator="," close=")">
           #{ productIdxList }
         </foreach> 

GROUP BY 
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION),
    P.PRICE,
    P.CATEGORY_IDX
   
ORDER BY 
     P.PRODUCT_IDX ASC
</select>


<select id="getDeskTopPartProductList">
 SELECT
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION)  PRODUCT_DESCRIPTION ,
    P.PRICE,
    P.CATEGORY_IDX,
    PI. PRODUCT_SFILE_NAME,
    C.CATEGORY_NAME

FROM
    PRODUCT  P
JOIN
    PRODUCT_IMAGE  PI
ON
    P.PRODUCT_IDX = PI.PRODUCT_IDX

JOIN
    CATEGORY  C
ON
    P.CATEGORY_IDX = C.CATEGORY_IDX
WHERE 
	   P.PRODUCT_IDX IN

<foreach item="productIdxList" index="index" collection="productIdxList"
         open="(" separator="," close=")">
           #{ productIdxList }
         </foreach> 

GROUP BY 
    P.PRODUCT_IDX,
    P.PRODUCT_NAME,
    TO_CHAR(P.PRODUCT_DESCRIPTION),
    P.PRICE,
    P.CATEGORY_IDX,
    PI. PRODUCT_SFILE_NAME,
    C.CATEGORY_NAME

ORDER BY 
     P.PRODUCT_IDX ASC


</select>

<select id="getCategoryAttributeValueList">
SELECT
    CATEGORY_ATTRIBUTE_VALUE_IDX,
    CATEGORY_ATTRIBUTE_IDX,
    CATEGORY_ATTRIBUTE_VALUE_NAME
FROM
    CATEGORY_ATTRIBUTE_VALUE
WHERE CATEGORY_ATTRIBUTE_IDX = #{categoryAttributeIdx}   
    

</select>

</mapper>