<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.common.mapper.QuickFinderMapper">

<select id="findPurposeList">
    SELECT *
    FROM   PURPOSE_CONTENT
    WHERE  1 = 1
    <if test="purposeIdx != null and purposeIdx != ''">
        AND PURPOSE_IDX = #{purposeIdx}
    </if>
</select>

<select id="getProductCount">
    SELECT COUNT(*)
    FROM   PRODUCT
    WHERE  1 = 1
    <if test="purposeIdx != null and purposeIdx != ''">
        AND PURPOSE_IDX = #{purposeIdx}
    </if>
</select>

<select id="getProductPagingList">
	SELECT PRODUCT_IDX,
		   PRODUCT_NAME,
		   PRODUCT_DESCRIPTION,
		   PRICE,
		   CATEGORY_IDX,
		   TO_CHAR(CREATED_AT,'YYYY.MM') CREATED_AT
	FROM   PRODUCT
	WHERE  1 = 1
</select>

</mapper>

















