<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.common.mapper.QuickFinderMapper">

<select id="findPurposeList">
    SELECT *
    FROM   PURPOSE_CONTENT
    WHERE  1 = 1
    <if test="purposeIdx != null and purposeIdx != ''">
        AND PURPOSE_IDX = #{purposeIdx}
    </if>
</select>

<select id="getProductCount">
    SELECT COUNT(*)
    FROM   PRODUCT
    WHERE  1 = 1
	    <if test="requestBody.computerType == null or requestBody.computerType == ''">
	        AND CATEGORY_IDX IN (2, 3)
	    </if>
	    <if test="requestBody.computerType != null and requestBody.computerType != ''">
	        AND CATEGORY_IDX = #{requestBody.computerType}
	    </if>
	    <if test="requestBody.listSearch != null and requestBody.listSearch != ''">
	        AND PRODUCT_NAME LIKE '%'||#{requestBody.listSearch}||'%'
	    </if> 
	    <if test="requestBody.lowestPrice != null and requestBody.lowestPrice != '' and requestBody.highestPrice != null and requestBody.highestPrice != '' ">
          AND PRICE BETWEEN #{requestBody.lowestPrice} AND #{requestBody.highestPrice}
      </if>
</select>

<select id="getProductPagingList">
    SELECT P.PRODUCT_IDX,
       P.PRODUCT_NAME,
       P.PRODUCT_DESCRIPTION,
       P.PRICE,
       P.CATEGORY_IDX,
       TO_CHAR(P.CREATED_AT,'YYYY.MM') AS CREATED_AT,
       PI.PRODUCT_SFILE_NAME,
       cpu.product_benchmark_score AS CPU_BENCH,
       gpu.product_benchmark_score AS GPU_BENCH,
       REGEXP_SUBSTR(cav.category_attribute_value_name, '[0-9]+')AS RAM_BENCH
		FROM   product p
			LEFT JOIN product_benchmark_score  cpu ON p.PRODUCT_IDX = cpu.PRODUCT_IDX AND cpu.CATEGORY_IDX = 5
			LEFT JOIN product_benchmark_score  gpu ON p.PRODUCT_IDX = gpu.PRODUCT_IDX AND gpu.CATEGORY_IDX = 8
			LEFT JOIN PRODUCT_ATTRIBUTE        ram on p.product_idx = ram.product_idx
			LEFT JOIN PRODUCT_IMAGE            PI  ON P.PRODUCT_IDX = PI.PRODUCT_IDX
			LEFT JOIN category_attribute_value CAV on ram.category_attribute_value_idx = cav.category_attribute_value_idx
    <where>
        <if test="requestBody.computerType == null or requestBody.computerType == ''">
            AND P.CATEGORY_IDX IN (2, 3)
        </if>
        <if test="requestBody.computerType != null and requestBody.computerType != ''">
            AND P.CATEGORY_IDX = #{requestBody.computerType}
        </if>
        <if test="requestBody.listSearch != null and requestBody.listSearch != ''">
            AND P.PRODUCT_NAME LIKE '%'||#{requestBody.listSearch}||'%'
        </if>
        <if test="requestBody.lowestPrice != null and requestBody.lowestPrice != '' and requestBody.highestPrice != null and requestBody.highestPrice != '' ">
            AND P.PRICE BETWEEN #{requestBody.lowestPrice} AND #{requestBody.highestPrice}
        </if>
    </where>
    <if test="requestBody.sortType == 'highestPrice'">
    	ORDER BY P.PRICE DESC
    </if>        
    <if test="requestBody.sortType == 'lowestPrice'">
    	ORDER BY P.PRICE ASC
    </if>        
    <if test="requestBody.sortType == 'recent'">
    	ORDER BY P.CREATED_AT DESC
    </if>        
    OFFSET #{offset} ROWS FETCH NEXT #{recordSize} ROWS ONLY
</select>


</mapper>

















