<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.common.mapper.QuickFinderMapper">

<select id="findPurposeList">
    SELECT *
    FROM   PURPOSE_CONTENT
    WHERE  1 = 1
    <if test="purposeIdx != null and purposeIdx != ''">
        AND PURPOSE_IDX = #{purposeIdx}
    </if>
</select>

<select id="getProductCount">
    SELECT COUNT(*)
    FROM   PRODUCT
    WHERE  1 = 1
</select>

<select id="getProductPagingList">
    SELECT P.PRODUCT_IDX,
           P.PRODUCT_NAME,
           P.PRODUCT_DESCRIPTION,
           P.PRICE,
           P.CATEGORY_IDX,
           TO_CHAR(P.CREATED_AT,'YYYY.MM') AS CREATED_AT,
           PI.PRODUCT_SFILE_NAME
    FROM   PRODUCT P 
    LEFT JOIN PRODUCT_IMAGE PI ON P.PRODUCT_IDX = PI.PRODUCT_IDX
    <where>
        <if test="requestBody.computerType == null and requestBody.computerType == ''">
            AND P.CATEGORY_IDX IN (2, 3)
        </if>
        <if test="requestBody.computerType != null and requestBody.computerType != ''">
            AND P.CATEGORY_IDX = #{requestBody.computerType}
        </if>
        <if test="requestBody.listSearch != null and requestBody.listSearch != ''">
            AND P.PRODUCT_NAME LIKE '%'||#{requestBody.listSearch}||'%'
        </if>
    </where>
    <if test="requestBody.sortType == 'highestPrice'">
    	OREDER BY PRICE DESC
    </if>        
    <if test="requestBody.sortType == 'listSearch'">
    	OREDER BY PRICE ASC
    </if>        
    <if test="requestBody.sortType == 'recent'">
    	ORDER BY CREATED_AT DESC
    </if>        
   
    OFFSET #{offset} ROWS FETCH NEXT #{recordSize} ROWS ONLY
</select>


</mapper>

















