<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.ram.mapper.RamMapper">  

<select id="getdeskTopEstimateRamFilterList">
SELECT
*
FROM
 RAM_MANUFACTURER RM
JOIN
    RAM_TYPE  RT
ON
    RM.COMPUTER_PART_FILTER_IDX = RT.COMPUTER_PART_FILTER_IDX
JOIN
    RAM_CAPACITY  RC
ON
    RT.COMPUTER_PART_FILTER_IDX = RC.COMPUTER_PART_FILTER_IDX
JOIN
    RAM_FREQUENCY  RF
ON
    RC.COMPUTER_PART_FILTER_IDX = RF.COMPUTER_PART_FILTER_IDX
JOIN
    RAM_DEVICE_TYPE  RDT
ON
    RF.COMPUTER_PART_FILTER_IDX = RDT.COMPUTER_PART_FILTER_IDX
JOIN
    RAM_LATENCY  RL
ON
    RDT.COMPUTER_PART_FILTER_IDX = RL.COMPUTER_PART_FILTER_IDX
JOIN
    RAM_VOLTAGE  RV
ON
    RL.COMPUTER_PART_FILTER_IDX = RV.COMPUTER_PART_FILTER_IDX
    

</select>

<select id="getRamResultList">

SELECT
     RAM_IDX,
    (SELECT RAM_MANUFACTURER_NAME FROM RAM R WHERE R.RAM_IDX = R.RAM_IDX) AS RAM_MANUFACTURER_NAME,
     RAM_NAME,
    (SELECT RC.RAM_CAPACITY
     FROM RAM_CAPACITY RC 
     WHERE RC.RAM_CAPACITY_IDX = R.RAM_CAPACITY_IDX) AS RAM_CAPACITY,
    (SELECT RT.RAM_TYPE_NAME 
     FROM RAM_TYPE RT 
     WHERE RT.RAM_TYPE_IDX = R.RAM_TYPE_IDX) AS RAM_TYPE_NAME,
    (SELECT RF.RAM_FREQUENCY 
     FROM RAM_FREQUENCY RF 
     WHERE RF.RAM_FREQUENCY_IDX = R.RAM_FREQUENCY_IDX) AS RAM_FREQUENCY,
    (SELECT RL.RAM_LATENCY 
     FROM RAM_LATENCY RL 
     WHERE RL.RAM_LATENCY_IDX = R.RAM_LATENCY_IDX) AS RAM_LATENCY,
    (SELECT RV.RAM_VOLTAGE 
     FROM RAM_VOLTAGE RV 
     WHERE RV.RAM_VOLTAGE_IDX = R.RAM_VOLTAGE_IDX) AS RAM_VOLTAGE,
    (SELECT RF.RAM_FORM_FACTOR
     FROM RAM_FORM_FACTOR RF 
     WHERE RF.RAM_FORM_FACTOR_IDX = R.RAM_FORM_FACTOR_IDX) AS RAM_FORM_FACTOR,
    (SELECT RC.RAM_COLOR_NAME 
     FROM RAM_COLOR RC 
     WHERE RC.RAM_COLOR_IDX = R.RAM_COLOR_IDX) AS RAM_COLOR_NAME,
    (SELECT RH.RAM_HEATSPREADER 
     FROM RAM_HEATSPREADER RH 
     WHERE RH.RAM_HEATSPREADER_IDX = R.RAM_HEATSPREADER_IDX) AS RAM_HEATSPREADER,
    (SELECT RD.RAM_DEVICE_TYPE_NAME 
     FROM RAM_DEVICE RD 
     WHERE RD.RAM_DEVICE_TYPE_IDX = R.RAM_DEVICE_TYPE_IDX) AS RAM_DEVICE,
    (SELECT RB.RAM_BANDWIDTH_VALUE 
     FROM RAM_BANDWIDTH RB 
     WHERE RB.RAM_BANDWIDTH_IDX = R.RAM_BANDWIDTH_IDX) AS RAM_BANDWIDTH,
    (SELECT RC.RAM_HEATSINK_COLOR_NAME 
     FROM RAM_HEATSINK_COLOR RC 
     WHERE RC.RAM_HEATSINK_COLOR_IDX = R.RAM_HEATSINK_COLOR_IDX) AS RAM_HEATSINK_COLOR,
    (SELECT RA.RAM_ADDITIONAL_FEATURES
     FROM RAM_ADDITIONAL_FEATURES RA 
     WHERE RA.RAM_ADDITIONAL_FEATURES_IDX = R.RAM_ADDITIONAL_FEATURES_IDX) AS RAM_ADDITIONAL_FEATURES,
     RAM_RELEASE_DATE,
     RAM_ORIGIN_PRICE,
     RAM_NOW_PRICE,
     COMPUTER_PART_FILTER_IDX,
     (SELECT RI.RAM_SFILE_NAME FROM  RAM_IMAGE  RI  WHERE RI.RAM_IDX = R.RAM_IDX)
FROM RAM R

</select>


</mapper>