<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.ssd.mapper.SsdMapper">  

<select id="getdeskTopEstimateSsdFilterList">
SELECT
*
FROM
    SSD_MANUFACTURER  SM
JOIN
    SSD_CAPACITY  SC
ON
    SM.COMPUTER_PART_FILTER_IDX = SC.COMPUTER_PART_FILTER_IDX
JOIN
    SSD_TYPE  ST
ON
    SC.COMPUTER_PART_FILTER_IDX = ST.COMPUTER_PART_FILTER_IDX
JOIN
    SSD_INTERFACE  SI
ON
    ST.COMPUTER_PART_FILTER_IDX = SI.COMPUTER_PART_FILTER_IDX
JOIN
    SSD_MEMORY_TYPE  SMT
ON
    SI.COMPUTER_PART_FILTER_IDX = SMT.COMPUTER_PART_FILTER_IDX


</select>

<select id="getSsdResultList">
SELECT
    S.SSD_IDX,
    (SELECT SSD_MANUFACTURER_NAME FROM SSD_MANUFACTURER WHERE SSD_MANUFACTURER_IDX = S.SSD_MANUFACTURER_IDX) AS SSD_MANUFACTURER_NAME,
    S.SSD_NAME,
    (SELECT SSD_CAPACITY FROM SSD_CAPACITY WHERE SSD_CAPACITY_IDX = S.SSD_CAPACITY_IDX) AS SSD_CAPACITY,
    (SELECT SSD_TYPE FROM SSD_TYPE WHERE SSD_TYPE_IDX = S.SSD_TYPE_IDX) AS SSD_TYPE,
    (SELECT SSD_INTERFACE FROM SSD_INTERFACE WHERE SSD_INTERFACE_IDX = S.SSD_INTERFACE_IDX) AS SSD_INTERFACE,
    (SELECT SSD_READ_SPEED FROM SSD_READ_SPEED WHERE SSD_READ_SPEED_IDX = S.SSD_READ_SPEED_IDX) AS SSD_READ_SPEED,
    (SELECT SSD_WRITE_SPEED FROM SSD_WRITE_SPEED WHERE SSD_WRITE_SPEED_IDX = S.SSD_WRITE_SPEED_IDX) AS SSD_WRITE_SPEED,
    (SELECT SSD_DURABILITY FROM SSD_DURABILITY WHERE SSD_DURABILITY_IDX = S.SSD_DURABILITY_IDX) AS SSD_DURABILITY,
    (SELECT SSD_FORMAT FROM SSD_FORMAT WHERE SSD_FORMAT_IDX = S.SSD_FORMAT_IDX) AS SSD_FORMAT,
    (SELECT SSD_VOLTAGE FROM SSD_VOLTAGE WHERE SSD_VOLTAGE_IDX = S.SSD_VOLTAGE_IDX) AS SSD_VOLTAGE,
    (SELECT SSD_MEMORY_TYPE FROM SSD_MEMORY_TYPE WHERE SSD_MEMORY_TYPE_IDX = S.SSD_MEMORY_TYPE_IDX) AS SSD_MEMORY_TYPE,
    (SELECT SSD_RAM_CACHE FROM SSD_RAM_CACHE WHERE SSD_RAM_CACHE_IDX = S.SSD_RAM_CACHE_IDX) AS SSD_RAM_CACHE,
    (SELECT SSD_WIDTH FROM SSD_WIDTH WHERE SSD_WIDTH_IDX = S.SSD_WIDTH_IDX) AS SSD_WIDTH,
    (SELECT SSD_HEIGHT FROM SSD_HEIGHT WHERE SSD_HEIGHT_IDX = S.SSD_HEIGHT_IDX) AS SSD_HEIGHT,
    (SELECT SSD_THICKNESS FROM SSD_THICKNESS WHERE SSD_THICKNESS_IDX = S.SSD_THICKNESS_IDX) AS SSD_THICKNESS,
    (SELECT SSD_WEIGHT FROM SSD_WEIGHT WHERE SSD_WEIGHT_IDX = S.SSD_WEIGHT_IDX) AS SSD_WEIGHT,
    (SELECT SSD_HEATSINK FROM SSD_HEATSINK WHERE SSD_HEATSINK_IDX = S.SSD_HEATSINK_IDX) AS SSD_HEATSINK,
    S.SSD_ORIGIN_PRICE,
    S.SSD_NOW_PRICE,
    S.SSD_RELEASE_DATE,
    COMPUTER_PART_FILTER_IDX,
    (SELECT  SSD_SFILE_NAME FROM SSD_IMAGE  WHERE SSD_IDX = S.SSD_IDX)
FROM
    SSD AS S
</select>

</mapper>